<h1>Census Records</h1>

<table>
  <thead>
    <tr>
      <th>Year of the Census</th>
      <th>Census Taker's Name</th>
      <th>Number of People</th>
      <th>Household State</th>
      <th>Household City</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of censusRecords; let i = index">
      <td>{{ record.year }}</td>
      <td>{{ record.takerName }}</td>
      <td>{{ record.numberOfPeople }}</td>
      <td>{{ record.householdState }}</td>
      <td>{{ record.householdCity }}</td>
    </tr>
  </tbody>
</table>
